<div class="picking-emojis" id="emoji-menu" ng-show="toDisplay">

        <p id="picker-title">esc to dismiss </p>
          <div class="picker-body">
                <p>{{currentIndex}}</p>
                  <span  ng-repeat="emoji in emojisToDisplay | limitTo:20"  ng-click="focusOnInput()" class="list-element" id='list-el' ng-class="{'current': $index === currentIndex }" ng-mouseenter = "pickCurrent($index)">
                      <span title="{{emoji.shortname}}" class="emoji">
                          {{convert(emoji.output)}} 
                        </span>
                        {{emoji.shortname}}
                  </span> 
          </div>
</div>