
<div  class="emoji-picker">

  <div class="emoji-search">
      <input ng-model="$ctrl.searchText.keyWords" placeholder="Find an emoji..." class="form-control input-sm ">
  </div>

  <div class="recently-used">
    <p>Recently used</p>
      <span ng-repeat="emoji in $ctrl.recentlyUsedEmojis" class= "emoji" ng-click="$ctrl.pickEmoji(emoji)">
        {{$ctrl.convert(emoji)}}
      </span>
  </div>

  <div class="emoji-categories">
      <p>Categories</p>
      <span ng-repeat="cat in $ctrl.emojiCategories" class="emoji" ng-click="$ctrl.searchText.category= cat.category; $ctrl.searchText.keyWords ='' ">
        {{$ctrl.convert(cat.icon)}}
      </span>
      <span ng-click="$ctrl.searchText.category = ''" > All </span>
  </div>


  <div style="overflow:scroll;min-height:200px;max-height:200px;" id="parent">
    <div infinite-scroll-container="'#parent'" infinite-scroll="$ctrl.loadMore()" infinite-scroll-distance="0" infinite-scroll-parent="true">
      <span ng-repeat='image in $ctrl.images' ng-click="$ctrl.pickEmoji(image.output)">
        {{$ctrl.convert(image.output)}}
      </span>
  </div>
</div>  

  

  <!-- <div class="emoji-dispay" infinite-scroll='loadMore()'  infinite-scroll-disabled="busy || noMoreData" infinite-scroll-distance='0.1'>
    <span ng-repeat="emoji in images " class="emoji" >
      {{convert(emoji.output)}}
       
  </span>
</div> -->

</div>

