<div class="emoji-text-area">
    
    <div class="emoji-autocomplete">
            <emojiauto ng-if="$ctrl.useAutocomplete" input="emojiInput"></emojiauto>
            <div ng-class ="{'input-group': $ctrl.usePicker }" >
                    <input ng-keyup="$ctrl.keyup($event)" ng-keydown="$ctrl.keydown($event)" type="text" id="emojiInput" class="form-control" aria-describedby="basic-addon2">                    
                    <!-- <textarea msd-elastic ... etc ...></textarea> -->
                      <span  ng-if="$ctrl.usePicker" class="input-group-addon" id="basic-addon2">
                            <img src="./static/img/emoticon.svg" class="smiley" uib-popover-template="$ctrl.popoverEmoji.templateUrl" popover-placement="{{$ctrl.pickerPlacement}}" popover-trigger="'outsideClick'">
                      </span>
            </div>
           
    </div>
	

</div>