body{
  /* font-family: 'Lato', sans-serif !important; */
  font-family: 'Open Sans', sans-serif !important;

}
.emoji {
  font-size: 14px;
  /* padding: 2px; */
  cursor: pointer;
  display: inline-block;
  width: 20px;
}
.smiley{
  width: 20px;
  height: auto;
  cursor: pointer;
}
#parent{
  margin-top: 10px;
  overflow-y:scroll;
  min-height:160px;
  max-height:200px;
}
.emoji-search{
   padding-bottom: 10px;
   /* position: fixed; */
   width: 200px;
}
.emoji-categories{
  /* padding: 5px; */
  margin: 2px;
}
.picked-category{
  border-bottom: 1.5px solid #acacac;
 }



.emoji-categories span {
  cursor: pointer;
}
.recently-used{
  cursor: pointer;
  padding-bottom: 10px;
}

.emoji-display{
  height: 150px;
  margin-bottom: 20px;
  /* overflow-y: scroll; */
}

.emoji-picker{
  width: 230px; 
  /* height: 350px;  */
  margin: 10px;
  
}
.list-group-item{
  display: inherit !important;
}

.pagination {
  padding-left: 36% !important;
  margin-top: 30px !important;
  margin-bottom: 50px !important;
}

li.ng-scope{

  padding-left: 20px !important;
  padding-right: 20px !important;
}

li.ng-scope a{
  color: #7e7e7e !important;

}

.avatar{
  height: auto;
  width: 40px;;
}

.pagination .active a{
  background-color: #d1d1d1 !important;
  border-color: #7e7e7e !important;
}

p{
font-size: 12px;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}