<div class="container">

  <h1 class="text-center">
    
    
    <!-- <button uib-popover-template="dynamicPopover.templateUrl" popover-placement="bottom" type="button" class="btn btn-default">Local Storage</button> -->
    <button uib-popover-template="popoverEmoji.templateUrl" popover-placement="bottom" type="button" class="btn btn-default">Emoji</button>
  
   
  
          
        
        <form action=""> 
        </br>
          <input type="text" id="emojiInput" class="form-control" ></br>
          
        </form>
   
    
    <!-- <a href="#" class="btn btn-default" ng-click="openModal()">
    Modal
    </a> -->
  </h1>

</div>
